p {
    font-size: 12px;
}

#bloc-8{
    color:#1E1E1E;
}

#bloc-8 p{
    color:#1E1E1E!important;
}

#bloc-8 ul li a{
    margin:15px;
    padding:15px;
    color:#1E1E1E!important;
}

img {
    height: auto;
    width: 100%;
  }