p {
    font-size: 12px;
    /*correction pb numero 9 */
}

#bloc-8 {
    color: #1E1E1E;
    /*correction pb numero 13 */
}

#bloc-8 p {
    color: #1E1E1E !important;
    /*correction pb numero 13 */
}

#bloc-8 ul li a {
    margin: 15px;
    /*correction pb numero 10 */
    padding: 15px;
    /*correction pb numero 10 */
    color: #1E1E1E !important;
    /*correction pb numero 13 */
}

/* pr accessibilité */
a:focus {
    outline: 3px solid #1E1E1E !important;
    outline-offset: 5px !important;
}

img {
    max-width: 100%;
    /*correction pb numero 15 */
    height: auto;
    /*correction pb numero 15 */
}

/* Page contact.html */

.btn-atomic-tangerine {
    color: #1E1E1E !important;
    /*correction pb 17 */
}

/* pr accessibilité */
.btn-atomic-tangerine:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px #1E1E1E !important;
}